  *{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body {
  background-color: black;
} 
/*navvvvvvvvvvvvvvvvvvvvvvvbarrrrrrrrrrrrrrrrrrrrrrrrrrr*/
nav{
  background: #000000;
  height: 80px;
  width: 100%;
  box-shadow: 0 0 15px #9900ff;
}
nav:hover{
  box-shadow: 0 0 15px #2f00ff;}
label.logo{
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding-left: 150px;
  font-weight: bold;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
nav a.active,.aaa:hover{
  background: #ff0000;
  transition: 0.9s;
  color: rgb(250, 250, 250);
  text-decoration-line: none;
  font-style: italic;
  font-size: 18px;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 952px){
  label.logo{
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  ul{
    z-index: 10000;
    position: fixed;
    width: 100%;
    height: 625px;
    background: #000000;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  .aaa:hover,a.active{
    background: red;
    color: #ffffff;
  }
  #check:checked ~ ul{
    left: 0;
  }
}


/*hooooooooooommmmmmmmmmmmmeeeeeeeeeeeeeeeeee11*/
section {
  padding-top: 3%;
}
.prpartie {
    background-image: url(home1.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* justify-content: center; */
    justify-content: center;
    padding-right: 14%;
    padding-bottom: 10%;
}
section #hun {
  color: white;
  font-size: 40px;
  font-weight: bold;
  font-family: 'Lexend Peta', sans-serif;
  padding-left: 2%;
  font-style: italic;
}
.prpartie:hover {
  box-shadow: 0 0 11px rgb(255, 0, 0);
  transition: 0.9s;
}

section .pun {
  color: white;
  font-size: 18px;
  font-weight: normal;
  font-family: 'Lexend Peta', sans-serif;
}
section #prpp {
    background-color: #1f1f1f;
    width: 400px;
    height: 70px;
    padding: 15px 40px;
    border-radius: 50px;
    margin: px;
    /* border: 13px; */
    margin: 20px;
}
section #prpp:hover{
  background-color: red;
  box-shadow: 0 0 8px rgb(102, 102, 102);
  transition: 0.9s;
  font-style: italic;

}
section .prpw {
  color: white;
  font-size: 28px;
  text-decoration-line: none;
  font-family: "Inconsolata", monospace;
}
section .prpw:hover {
  color: white;
}
/*hooooooooooommmmmmmmmmmmmeeeeeeeeeeeeeeeeee22222*/
.prpartied {
  background-image: url(home2.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 10%;
  padding-bottom: 5%;
}
.prpartied:hover {
  box-shadow: 0 0 11px rgb(60, 255, 0);
  transition: 0.9s;
}
section #hdeu {
  color: white;
  font-size: 40px;
  font-weight: bold;
  font-family: 'Lexend Peta', sans-serif;
  padding-left: 2%;
  font-style: italic;
}
section .pdeux {
  color: white;
  font-size: 18px;
  font-weight: normal;
  font-family: 'Lexend Peta', sans-serif;
  padding-right: 15%;
}
section #prpd {
  background-color: #1f1f1f;
  width: 400px;
  height: 70px;
  padding: 15px 40px;
  border-radius: 50px;
  margin: 20px;
}
section #prpd:hover{
  background-color: rgb(60, 255, 0);
  box-shadow: 0 0 8px rgb(102, 102, 102);
  transition: 0.9s;
  font-style: italic;

}
section .prpa {
  color: white;
  font-size: 28px;
  text-decoration-line: none;
  font-family: "Inconsolata", monospace;
}
section .prpw:hover {
  color: white;
}
/*hhhhhhoooooommmmmmmeeeeeeeeeeeeeeee3333333333333333333*/
section {
  height: 1%;
}
.prpartiet {
    background-image: url(home3.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* justify-content: center; */
    justify-content: center;
    padding-right: 14%;
    padding-bottom: 10%;
}
.prpartiet:hover {
  box-shadow: 0 0 11px rgb(0, 17, 255);
  transition: 0.9s;
}
section #htroix {
  color: white;
  font-size: 40px;
  font-weight: bold;
  font-family: 'Lexend Peta', sans-serif;
  padding-right: 10%;
  font-style: italic;
  padding-top: 5%;
}
section .ptroix {
  color: white;
  font-size: 18px;
  font-weight: normal;
  font-family: 'Lexend Peta', sans-serif;
}
section #prpt {
    background-color: #1f1f1f;
    width: 400px;
    height: 70px;
    padding: 15px 40px;
    border-radius: 50px;
    margin: px;
    /* border: 13px; */
    margin: 20px;
}
section #prpt:hover{
  background-color: blue;
  box-shadow: 0 0 11px rgb(0, 17, 255);
  transition: 0.9s;
  font-style: italic;

}
section .prpt {
  color: white;
  font-size: 28px;
  text-decoration-line: none;
  font-family: "Inconsolata", monospace;
}
section .prpt:hover {
  color: white;
}
/*hhhhhhoooooommmmmmmeeeeeeeeeeeeeeee44444444444444*/
.prpartieq {
  background-image: url(home4.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 10%;
  padding-bottom: 5%;
}
.prpartieq:hover {
  box-shadow: 0 0 11px rgb(183, 0, 255);
  transition: 0.9s;
}
section #hqq {
  color: white;
  font-size: 40px;
  font-weight: bold;
  font-family: 'Lexend Peta', sans-serif;
  padding-left: 5%;
  font-style: italic;
}
section .pqq {
  color: white;
  font-size: 18px;
  font-weight: normal;
  font-family: 'Lexend Peta', sans-serif;
  padding-right: 15%;
}
section #prpq {
  background-color: #1f1f1f;
  width: 400px;
  height: 70px;
  padding: 15px 40px;
  border-radius: 50px;
  margin: 20px;
}
section #prpq:hover{
  background-color: rgb(183, 0, 255);
  box-shadow: 0 0 8px rgb(102, 102, 102);
  transition: 0.9s;
  font-style: italic;

}
section .prpq {
  color: white;
  font-size: 28px;
  text-decoration-line: none;
  font-family: "Inconsolata", monospace;
}
section .prpq:hover {
  color: white;
}
/*hhhhhhoooooommmmmmmeeeeeeeeeeeeeeee5555555555555555555555*/
section {
  height: 1%;
}
.prpartieci {
    background-image: url(home5.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* justify-content: center; */
    justify-content: center;
    padding-right: 14%;
    padding-bottom: 10%;
}
.prpartieci:hover {
  box-shadow: 0 0 11px rgb(255, 251, 0);
  transition: 0.9s;
}
section #hci {
  color: white;
  font-size: 40px;
  font-weight: bold;
  font-family: 'Lexend Peta', sans-serif;
  padding-right: 10%;
  font-style: italic;
  padding-top: 5%;
}
section .pci {
  color: white;
  font-size: 18px;
  font-weight: normal;
  font-family: 'Lexend Peta', sans-serif;
}
section #prci {
    background-color: #1f1f1f;
    width: 400px;
    height: 70px;
    padding: 15px 40px;
    border-radius: 50px;
    margin: px;
    /* border: 13px; */
    margin: 20px;
}
section #prci:hover{
  background-color: rgb(255, 251, 0);
  box-shadow: 0 0 11px rgb(255, 251, 0);
  transition: 0.9s;
  font-style: italic;

}
section .prci {
  color: white;
  font-size: 28px;
  text-decoration-line: none;
  font-family: "Inconsolata", monospace;
}
section .prci:hover {
  color: white;
}
/*hhhhhhhhhhhhhhhhhoooooooooooooooommmmmmmmmmmmmmmmmmmmmmeeeeeeeeeeeeeeee666666666666666*/
.prpartiesix {
  background-image: url(home6.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 10%;
  padding-bottom: 5%;
}
.prpartiesix:hover {
  box-shadow: 0 0 11px rgb(0, 255, 179);
  transition: 0.9s;
}
section #hsix {
  color: white;
  font-size: 40px;
  font-weight: bold;
  font-family: 'Lexend Peta', sans-serif;
  padding-left: 5%;
  font-style: italic;
}
section .psix {
  color: white;
  font-size: 18px;
  font-weight: normal;
  font-family: 'Lexend Peta', sans-serif;
  padding-right: 15%;
}
section #prsix {
  background-color: #1f1f1f;
  width: 400px;
  height: 70px;
  padding: 15px 40px;
  border-radius: 50px;
  margin: 20px;
}
section #prsix:hover{
  background-color: rgb(0, 255, 179);
  box-shadow: 0 0 8px rgb(0, 255, 179);
  transition: 0.9s;
  font-style: italic;

}
section .prsix {
  color: white;
  font-size: 28px;
  text-decoration-line: none;
  font-family: "Inconsolata", monospace;
}
section .prsix:hover {
  color: white;
}
/*fffffooooooottttteeerrrrr*/
footer{
display: flex;
justify-content: center;
}
footer #yup{
  color: white;

}




